body {
    font-style: italic;
    font-family: "Engravers MT", Times, serif;
    color : rgb(34, 105, 2);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav{
    font-style: italic;
    font-size:large;
    color: blue;
    float: right;


}
