<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Link your CSS file here -->
<link href="../static/css/style.css" rel="stylesheet" type="text/css">
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

  <script src="https:////cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- CSS only -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: arial}
.mySlides {display: none}
</style>
</head>
<body class="w3-content w3-border-left w3-border-right">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-grey w3-collapse w3-top" style="z-index:3;width:260px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
    <h3>Car Features</h3>
    <hr>
    <form action="/action_page.php" target="_blank">
      <p><label>Make</label></p>
      <label for="makes">Select a car make:</label>
      <select name="cars" id="makes" onchange="captureSelectedMake()" required>

  </select>
        <br><br>
        <p><label>Model</label></p>
        <select name="models" id="modelsDropdown" required></select>
        <br><br>    

      <p>
  <label for="year">Year</label>
</p>
<p>
    <label for="year">Year</label>
  </p>
  <select class="w3-select w3-border" name="year" id="year">
    <script>
      var yearDropdown = document.getElementById("year");
      for (var year = 1950; year <= 2024; year++) {
        var option = document.createElement("option");
        option.value = year;
        option.text = year;
        yearDropdown.add(option);
      }
    </script>
  </select>
  
  <p>
    <label for="mileage">Mileage</label>
  </p>
  <select class="w3-select w3-border" name="mileage" id="mileage">
    <script>
      var mileageDropdown = document.getElementById("mileage");
      for (var mileage = 0; mileage <= 350000; mileage += 10000) {
        var option = document.createElement("option");
        option.value = mileage;
        option.text = mileage;
        mileageDropdown.add(option);
      }
    </script>
  </select>
  

        <p><button class="w3-button w3-block w3-green w3-left-align" type="submit"><i class="fa fa-search w3-margin-right"></i>Find Market Value</button></p>
      </form>
    </div>
  </nav>
  </select>
  <br><br>     

</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <span class="w3-bar-item">Rental</span>
  <a href="javascript:void(0)" class="w3-right w3-bar-item w3-button" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white" style="margin-left:260px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:80px"></div>

  <!-- Slideshow Header -->
  <div class="w3-container" id="apartment">
    <h2 class="w3-text-blue">Price Used Cars</h2>
    <div class="w3-display-container mySlides">
    <img src="https://www.usnews.com/object/image/00000182-b75a-da40-abcf-f75ee9070000/2022-audi-rs3-a214840-medium-cropped.jpg?update-time=1664832130887&size=responsive970"style="width:100%;margin-bottom:-6px">
      <div class="w3-display-bottomleft w3-container w3-black">
        <p>Make</p>
      </div>
    </div>
    <div class="w3-display-container mySlides">
    <img src="https://www.usnews.com/object/image/00000183-c79c-d03b-adef-f7fca9bd0000/28-2023-acura-integra.jpg?update-time=1665501276427&size=responsive970" style="width:100%;margin-bottom:-6px">
      <div class="w3-display-bottomleft w3-container w3-black">
        <p>Models</p>
      </div>
    </div>
    <div class="w3-display-container mySlides">
    <img src="https://www.usnews.com/object/image/00000183-8eeb-dfce-a3eb-effbe1810000/2022-audi-q3-3.jpg?update-time=1668191855393&size=responsive970" style="width:100%;margin-bottom:-6px">
      <div class="w3-display-bottomleft w3-container w3-black">
        <p>Year</p>
      </div>
    </div>
    <div class="w3-display-container mySlides">
    <img src="https://www.usnews.com/object/image/00000182-c70c-dbee-a98a-ef8f37b80000/2021-mercedesbenz-gla35-front1.jpg?update-time=1681138792838&size=responsive970" style="width:100%;margin-bottom:-6px">
      <div class="w3-display-bottomleft w3-container w3-black">
        <p>Mileage</p>
      </div>
    </div>
  </div>
  <div class="w3-row-padding w3-section">
    <div class="w3-col s3">
      <img class="demo w3-opacity w3-hover-opacity-off" src="https://www.usnews.com/object/image/00000182-b75a-da40-abcf-f75ee9070000/2022-audi-rs3-a214840-medium-cropped.jpg?update-time=1664832130887&size=responsive970" style="width:100%;cursor:pointer" onclick="currentDiv(1)" title="Living room">
    </div>
    <div class="w3-col s3">
      <img class="demo w3-opacity w3-hover-opacity-off" src="https://www.usnews.com/object/image/00000183-c79c-d03b-adef-f7fca9bd0000/28-2023-acura-integra.jpg?update-time=1665501276427&size=responsive970" style="width:100%;cursor:pointer" onclick="currentDiv(2)" title="Dining room">
    </div>
    <div class="w3-col s3">
      <img class="demo w3-opacity w3-hover-opacity-off" src="https://www.usnews.com/object/image/00000183-8eeb-dfce-a3eb-effbe1810000/2022-audi-q3-3.jpg?update-time=1668191855393&size=responsive970" style="width:100%;margin-bottom:-6px" style="width:100%;cursor:pointer" onclick="currentDiv(3)" title="Bedroom">
    </div>
    <div class="w3-col s3">
      <img class="demo w3-opacity w3-hover-opacity-off" src="https://www.usnews.com/object/image/00000182-c70c-dbee-a98a-ef8f37b80000/2021-mercedesbenz-gla35-front1.jpg?update-time=1681138792838&size=responsive970" style="width:100%;cursor:pointer" onclick="currentDiv(4)" title="Second Living Room">
    </div>
  </div>

  <div class="w3-container">
    <h4><strong>Car of the Year</strong></h4>
    <div class="w3-row w3-large">
      <div class="w3-col s6">
        <p><i class="fa fa-fw fa-male"></i> Max people: 4</p>
        <p><i class="fa fa-fw fa-bath"></i> Engine: twin-turbocharged 3.5-liter V-6; </p>
        <p><i class="fa fa-fw fa-bed"></i> Price range: $90,100-$100,400</p>
      </div>
      
    </div>
    <hr>
    
    <h4><strong>Description</strong></h4>
    <div class="w3-row w3-large">
      <div class="w3-col s6">
        <p><i class="fa fa-fw fa-shower"></i> Estimated combined fuel economy range: 20-21 mpg</p>
        <p><i class="fa fa-fw fa-wifi"></i> Base powertrain: 375-horsepower, twin-turbocharged 3.5-liter V-6; eight-speed automatic transmission; all-wheel drive</p>
        
      </div>
      
    </div>
    <hr>
    
    <h4><strong>DISCLAIMER</strong></h4>
    <p>Thank you for your inquiry. We appreciate the opportunity to provide you with an estimate for the requested work. Please note that this is only an estimate, and the actual cost may be higher or lower depending on the market</p>
    <p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
    <hr>
    
    
  <hr>
  
  <!-- Contact -->
  <div class="w3-container" id="contact">
    <h2>Contact</h2>
    <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
    <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
    <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
    <p>Questions? Go ahead, ask them:</p>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
    <button type="submit" class="w3-button w3-green w3-third">Send a Message</button>
    </form>
  </div>
  
  <footer class="w3-container w3-padding-16" style="margin-top:32px">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></footer>

<!-- End page content -->
</div>

<!-- Subscribe Modal -->
<div id="subscribe" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom w3-padding-large">
    <div class="w3-container w3-white w3-center">
      <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-button w3-xlarge w3-right w3-transparent"></i>
      <h2 class="w3-wide">SUBSCRIBE</h2>
      <p>Join our mailing list to receive updates on available dates and special offers.</p>
      <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
      <button type="button" class="w3-button w3-padding-large w3-green w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none'">Subscribe</button>
    </div>
  </div>
</div>

<script>
// Script to open and close sidebar when on tablets and phones
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Slideshow Apartment Images
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>
<!-- Add this line before your app.js inclusion -->
<script src="https://d3js.org/d3.v5.min.js"></script>


    <script src="{{ url_for('static', filename='js/app.js') }}"></script>


  

</body>
</html>